Repository apache/doris-website, pull requests merged in 2024-11, with the labels that each got.

#1244 Update query-optimizer.md
  versioned_docs/version-2.1/query-acceleration/query-optimizer.md
Labels: version-2.1, Reviewed

#1243 Update query-optimizer.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/query-optimizer.md
Labels: version-2.1, Reviewed

#1252 update log storage docs
  common_docs_zh/gettingStarted/tutorials/log-storage-analysis.md
  gettingStarted/tutorials/log-storage-analysis.md
  versioned_docs/version-2.0/practical-guide/log-storage-analysis.md
  versioned_docs/version-2.1/practical-guide/log-storage-analysis.md
  versioned_docs/version-3.0/practical-guide/log-storage-analysis.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1253 [fix] remove duplicated cold-hot-seperation
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/cold-hot-separation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/cold-hot-separation.md
  versioned_docs/version-2.1/table-design/cold-hot-separation.md
  versioned_docs/version-3.0/table-design/cold-hot-separation.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, Reviewed, version-3.0

#1259 add list of operators and functions for index acceleration
  docs/table-design/index/index-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/index/index-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/index/index-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/index/index-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/index/index-overview.md
  versioned_docs/version-2.0/table-design/index/index-overview.md
  versioned_docs/version-2.1/table-design/index/index-overview.md
  versioned_docs/version-3.0/table-design/index/index-overview.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1263 [docs](streamload) Update deadlink of CN docs
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1265 [fix](catalog) fix iceberg catalog with glue doc
  docs/lakehouse/cloud-auth.md
  docs/lakehouse/datalake-analytics/iceberg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/cloud-auth.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-analytics/iceberg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/cloud-auth.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/datalake-analytics/iceberg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/cloud-auth.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/datalake-analytics/iceberg.md
  versioned_docs/version-2.1/lakehouse/cloud-auth.md
  versioned_docs/version-2.1/lakehouse/datalake-analytics/iceberg.md
  versioned_docs/version-3.0/lakehouse/cloud-auth.md
  versioned_docs/version-3.0/lakehouse/datalake-analytics/iceberg.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1261 [fix](doc) add partitions not support 2.0 2.1
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
Labels: version-2.1, version-2.0, Reviewed

#1256 [doc](stream load) fix stream load doc error
  docs/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-2.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1254 [Doc](RESTapi) Add document of BE VLOG adjustment RESTful api
  docs/admin-manual/log-management/be-log.md
  docs/admin-manual/open-api/be-http/be-vlog.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/log-management/be-log.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/open-api/be-http/be-vlog.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/log-management/be-log.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/open-api/be-http/be-vlog.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/log-management/be-log.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/open-api/be-http/be-vlog.md
  sidebars.json
  versioned_docs/version-2.1/admin-manual/log-management/be-log.md
  versioned_docs/version-2.1/admin-manual/open-api/be-http/be-vlog.md
  versioned_docs/version-3.0/admin-manual/log-management/be-log.md
  versioned_docs/version-3.0/admin-manual/open-api/be-http/be-vlog.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1249 [doc] (inverted index) add inverted index property: stopwords
  docs/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/index/inverted-index.md
  versioned_docs/version-2.0/table-design/index/inverted-index.md
  versioned_docs/version-2.1/table-design/index/inverted-index.md
  versioned_docs/version-3.0/table-design/index/inverted-index.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1250 Update audit-plugin.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/audit-plugin.md
Labels: Reviewed, version-3.0

#1264 [doc](cloud) update file cache eviction policy (#42451)
  docs/compute-storage-decoupled/file-cache.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/file-cache.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/compute-storage-decoupled/file-cache.md
  versioned_docs/version-3.0/compute-storage-decoupled/file-cache.md
Labels: version-dev, Reviewed, version-3.0

#1267 [doc](typo) fix some typo in `update` section
  docs/data-operate/update/unique-update-transaction.md
  docs/data-operate/update/update-of-aggregate-model.md
  docs/data-operate/update/update-of-unique-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/update-of-aggregate-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/update-of-unique-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/update-of-aggregate-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/update-of-unique-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/update-of-aggregate-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/update-of-unique-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/update-of-aggregate-model.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/update-of-unique-model.md
  versioned_docs/version-2.0/data-operate/update/unique-update-transaction.md
  versioned_docs/version-2.0/data-operate/update/update-of-aggregate-model.md
  versioned_docs/version-2.0/data-operate/update/update-of-unique-model.md
  versioned_docs/version-2.1/data-operate/update/unique-update-transaction.md
  versioned_docs/version-2.1/data-operate/update/update-of-aggregate-model.md
  versioned_docs/version-2.1/data-operate/update/update-of-unique-model.md
  versioned_docs/version-3.0/data-operate/update/unique-update-transaction.md
  versioned_docs/version-3.0/data-operate/update/update-of-aggregate-model.md
  versioned_docs/version-3.0/data-operate/update/update-of-unique-model.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1276 [doc](stream load) fix stream load doc escape error
  docs/data-operate/import/import-way/stream-load-manual.md
  docs/data-operate/import/load-data-format.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/load-data-format.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/load-data-format.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/load-data-format.md
  versioned_docs/version-2.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-2.1/data-operate/import/load-data-format.md
  versioned_docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-3.0/data-operate/import/load-data-format.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1278 [doc](typo) fix some typo in `remote-storage` section
  docs/table-design/tiered-storage/remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/tiered-storage/remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/cold-hot-separation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/tiered-storage/remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/tiered-storage/remote-storage.md
  versioned_docs/version-2.0/table-design/cold-hot-separation.md
  versioned_docs/version-2.1/table-design/tiered-storage/remote-storage.md
  versioned_docs/version-3.0/table-design/tiered-storage/remote-storage.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1232 Update standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/standard-deployment.md
Labels: version-2.1, Reviewed

#1245 [doc](cooldown)add enable_cooldown_replica_affinity config
  docs/query/query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-data/delete-query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/query-variables/variables.md
  versioned_docs/version-2.0/query/query-variables/variables.md
  versioned_docs/version-2.1/query-data/delete-query-variables/variables.md
  versioned_docs/version-3.0/query/query-variables/variables.md
Labels: version-2.1, version-2.0, Reviewed, version-3.0

#1258 doc: remove redundant indentation among four blog files about transac…
  docs/data-operate/transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/transaction.md
  versioned_docs/version-2.1/data-operate/transaction.md
  versioned_docs/version-3.0/data-operate/transaction.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1281 [doc] fix dead link
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-access-cluster.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-config-cluster.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-doris-cluster.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-operator.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-quickstart.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/root-user-use.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-doris-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-operator.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-coupled/install-quickstart.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/install-env.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/doris-cluster-upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/expansion-and-contraction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-access-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-config-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-doris-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-env.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-operator.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/root-user-use.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/doris-cluster-upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/install-access-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/install-operator.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/install-quickstart.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-access-cluster.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-config-cluster.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-doris-cluster.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-env.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-operator.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/operator-deploy.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-access-cluster.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-config-cluster.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-doris-cluster.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-env.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-operator.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-quickstart.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/operator-deploy.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#1287 [fix] fix tiered-storage hdd-ssd
  docs/table-design/data-model/aggregate.md
  docs/table-design/data-model/duplicate.md
  docs/table-design/data-model/overview.md
  docs/table-design/tiered-storage/diff-disk-medium-migration.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-model/duplicate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-model/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/tiered-storage/diff-disk-medium-migration.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/data-model/duplicate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/data-model/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/data-model/duplicate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/data-model/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/tiered-storage/diff-disk-medium-migration.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/data-model/duplicate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/data-model/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/tiered-storage/diff-disk-medium-migration.md
  versioned_docs/version-2.0/table-design/data-model/aggregate.md
  versioned_docs/version-2.0/table-design/data-model/duplicate.md
  versioned_docs/version-2.0/table-design/data-model/overview.md
  versioned_docs/version-2.1/table-design/data-model/aggregate.md
  versioned_docs/version-2.1/table-design/data-model/duplicate.md
  versioned_docs/version-2.1/table-design/data-model/overview.md
  versioned_docs/version-2.1/table-design/tiered-storage/diff-disk-medium-migration.md
  versioned_docs/version-3.0/table-design/data-model/aggregate.md
  versioned_docs/version-3.0/table-design/data-model/duplicate.md
  versioned_docs/version-3.0/table-design/data-model/overview.md
  versioned_docs/version-3.0/table-design/tiered-storage/diff-disk-medium-migration.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1289 [web](topbanner) Update top banner info
  docusaurus.config.js
Labels: Reviewed

#1292 [doc](ecosystem) improve spark connector doc
  common_docs_zh/ecosystem/spark-doris-connector.md
  ecosystem/spark-doris-connector.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1290 [docs](k8s)add doc to set pwd
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/init-pwd.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-coupled/root-user-use.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-cg.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-fe.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-fdb.md
  docs/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-quickstart.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-coupled/init-pwd.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-coupled/root-user-use.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-cg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-fe.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-fdb.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-quickstart.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/init-pwd.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/root-user-use.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-coupled/init-pwd.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-coupled/root-user-use.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-cg.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-fe.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-fdb.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-quickstart.md
  sidebars.json
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/init-pwd.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/root-user-use.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-coupled/init-pwd.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-coupled/root-user-use.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-cg.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/config-fe.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-fdb.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/compute-storage-decoupled/install-quickstart.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1294 [fix] fix some update doc
  docs/data-operate/update/unique-update-transaction.md
  docs/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/unique-update-transaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/update-overview.md
  versioned_docs/version-2.0/data-operate/update/unique-update-transaction.md
  versioned_docs/version-2.0/data-operate/update/update-overview.md
  versioned_docs/version-2.1/data-operate/update/unique-update-transaction.md
  versioned_docs/version-2.1/data-operate/update/update-overview.md
  versioned_docs/version-3.0/data-operate/update/unique-update-transaction.md
  versioned_docs/version-3.0/data-operate/update/update-overview.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1193 [ecosystem](kettle) add kettle plugin for ecosystem
  common_docs_zh/ecosystem/kettle.md
  ecosystem/kettle.md
  sidebars.json
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: bug

#1307 [doc](typo) fix some typo in `broker-load` section
  docs/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/broker-load-manual.md
  versioned_docs/version-2.0/data-operate/import/broker-load-manual.md
  versioned_docs/version-2.1/data-operate/import/import-way/broker-load-manual.md
  versioned_docs/version-3.0/data-operate/import/import-way/broker-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1242 Update local.md
  docs/sql-manual/sql-functions/table-valued-functions/local.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/table-valued-functions/local.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/table-valued-functions/local.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/table-valued-functions/local.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/table-valued-functions/local.md
  versioned_docs/version-2.0/sql-manual/sql-functions/table-valued-functions/local.md
  versioned_docs/version-2.1/sql-manual/sql-functions/table-valued-functions/local.md
  versioned_docs/version-3.0/sql-manual/sql-functions/table-valued-functions/local.md
Labels: version-2.1, version-2.0, Reviewed, version-3.0

#1293 feat: From the context, it seems that "unavailable" or "inaccessible"…
  docs/install/cluster-deployment/standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/standard-deployment.md
  versioned_docs/version-2.0/install/cluster-deployment/standard-deployment.md
  versioned_docs/version-2.1/install/cluster-deployment/standard-deployment.md
  versioned_docs/version-3.0/install/cluster-deployment/standard-deployment.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1272 [doc](xor) remove xor doc from 2.1
  docs/sql-manual/sql-functions/numeric-functions/xor.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/numeric-functions/xor.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/numeric-functions/xor.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/numeric-functions/xor.md
  versioned_docs/version-2.1/sql-manual/sql-functions/numeric-functions/xor.md
  versioned_docs/version-3.0/sql-manual/sql-functions/numeric-functions/xor.md
  versioned_sidebars/version-2.1-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#1297 [opt](query-data) remove some useless description
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-data/multi-dimensional-analytics.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-data/window-function.md
  versioned_docs/version-2.1/query-data/multi-dimensional-analytics.md
  versioned_docs/version-2.1/query-data/window-function.md
Labels: version-2.1, Reviewed

#1298 [fix](load) fix broker load parallel instance docs
  docs/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/broker-load-manual.md
  versioned_docs/version-2.0/data-operate/import/broker-load-manual.md
  versioned_docs/version-2.1/data-operate/import/import-way/broker-load-manual.md
  versioned_docs/version-3.0/data-operate/import/import-way/broker-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1309 [doc](ecosystem) improve datax doriswriter doc
  common_docs_zh/ecosystem/datax.md
  ecosystem/datax.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1314 [improvement] split ccr.md to overview.md and feature.md
  docs/admin-manual/data-admin/ccr.md
  docs/admin-manual/data-admin/ccr/feature.md
  docs/admin-manual/data-admin/ccr/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current.json
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/ccr.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/ccr/feature.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/ccr/overview.md
  sidebars.json
Labels: version-dev

#1311 [doc](update) add a table to compare the performance characteristics and feature support of different data models.
  docs/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/update/update-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/update/update-overview.md
  versioned_docs/version-2.0/data-operate/update/update-overview.md
  versioned_docs/version-2.1/data-operate/update/update-overview.md
  versioned_docs/version-3.0/data-operate/update/update-overview.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1118 [Refactor](maxcompute)Rewrite maxcompute cn and en document.
  docs/lakehouse/database/max-compute.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/database/max-compute.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/database/max-compute.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/database/max-compute.md
  versioned_docs/version-2.1/lakehouse/database/max-compute.md
  versioned_docs/version-3.0/lakehouse/database/max-compute.md
Labels: dependencies

#1332 [download](2.1.7) Update 2.1.7 release
  common_docs_zh/releasenotes/all-release.md
  common_docs_zh/releasenotes/v2.1/release-2.1.7.md
  releasenotes/all-release.md
  releasenotes/v2.1/release-2.1.7.md
  sidebars.json
  src/constant/download.data.ts
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1337 [fix](sql-type) string_type_length_soft_limit_bytes case
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-data-types/semi-structured/JSON.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-data-types/semi-structured/JSON.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-data-types/semi-structured/JSON.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-data-types/semi-structured/JSON.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#939 Update group commit performance doc
  docs/data-operate/import/import-way/group-commit-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/group-commit-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/group-commit-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/group-commit-manual.md
  static/images/group-commit/jmeter1.jpg
  static/images/group-commit/jmeter2.jpg
  versioned_docs/version-2.1/data-operate/import/import-way/group-commit-manual.md
  versioned_docs/version-3.0/data-operate/import/import-way/group-commit-manual.md
Labels: bug, version-2.1, version-dev, version-3.0

#1277 [Doc](systable) Support system table information_schema.partitions
  docs/admin-manual/system-tables/information_schema/partitions.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/system-tables/information_schema/partitions.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/system-tables/information_schema/partitions.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/system-tables/information_schema/partitions.md
  versioned_docs/version-2.1/admin-manual/system-tables/information_schema/partitions.md
  versioned_docs/version-3.0/admin-manual/system-tables/information_schema/partitions.md
Labels: version-2.1, version-dev, version-3.0

#1322 Fix inverted index demo dataset url
  docs/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/index/inverted-index.md
  versioned_docs/version-2.0/table-design/index/inverted-index.md
  versioned_docs/version-2.1/table-design/index/inverted-index.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#1353 Update overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/overview.md
Labels: approved, version-2.1, Reviewed

#1354 Update optimizing-table-schema.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/optimizing-table-schema.md
Labels: approved, version-2.1, Reviewed

#1352 [doc](stream load) delete the TVF section as it's an immature feature
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  versioned_docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
Labels: version-2.1, Reviewed, version-3.0

#1308 [docs](schema-change) Refine schema change rlated docs
  docs/table-design/schema-change.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/schema-change.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/schema-change.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/schema-change.md
  versioned_docs/version-2.1/table-design/schema-change.md
  versioned_docs/version-3.0/table-design/schema-change.md
Labels: version-dev

#1351 [doc](load) update create table comment
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/insert-into-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/insert-into-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/insert-into-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
Labels: version-2.1, version-dev, version-3.0

#1356 Update transparent-rewriting-with-sync-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
Labels: approved, version-2.1, Reviewed

#1357 Update transparent-rewriting-with-async-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
Labels: approved, version-2.1, Reviewed

#1359 Update reordering-join-with-leading-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/reordering-join-with-leading-hint.md
Labels: approved, version-2.1

#1360 Update solving-unevenly-data-distribution.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
Labels: approved, version-2.1

#1355 Update optimizing-table-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
Labels: approved, version-2.1, Reviewed

#1358 Update adjusting-join-shuffle.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
Labels: approved, version-2.1, Reviewed

#1318 add agg state link
  docs/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/data-model/aggregate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/data-model/aggregate.md
  versioned_docs/version-2.0/table-design/data-model/aggregate.md
  versioned_docs/version-3.0/table-design/data-model/aggregate.md
Labels: approved, version-dev, version-2.0, version-3.0

#1319 update bitmap_to_base64 doc
  docs/sql-manual/sql-functions/bitmap-functions/bitmap-to-base64.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/bitmap-functions/bitmap-to-base64.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/bitmap-functions/bitmap-to-base64.md
  versioned_docs/version-3.0/sql-manual/sql-functions/bitmap-functions/bitmap-to-base64.md
Labels: approved, version-dev, Reviewed, version-3.0

#1368 [docs](load) improve broker load structure
  docs/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/broker-load-manual.md
Labels: version-dev

#1230 [doc](function)support url domain functions
  docs/sql-manual/sql-functions/string-functions/cut-to-first-significant-subdomain.md
  docs/sql-manual/sql-functions/string-functions/first-significant-subdomain.md
  docs/sql-manual/sql-functions/string-functions/top-level-domain.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/cut-to-first-significant-subdomain.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/first-significant-subdomain.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/top-level-domain.md
  sidebars.json
Labels: version-dev, Reviewed

#1268 Update install-env.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/install/cluster-deployment/k8s-deploy/install-env.md
Labels: approved, Reviewed, version-3.0

#1260 [doc] (fluentbit) fluentbit doris output plugin
  common_docs_zh/ecosystem/fluentbit.md
  ecosystem/fluentbit.md
  sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1246 [Chinese] Update inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/index/inverted-index.md
Labels: approved, version-2.1, Reviewed

#1362 [docs](typo) Version mgt and fix typo
  common_docs_zh/gettingStarted/what-is-new.mdx
  community/join-community.md
  docs/install/cluster-deployment/k8s-deploy/install-env.md
  docs/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
  docs/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  docs/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
  docs/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
  docs/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
  gettingStarted/demo-block/latest.tsx
  gettingStarted/what-is-apache-doris.md
  i18n/zh-CN/docusaurus-plugin-content-docs-community/current/join-community.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/dml-tuning-plan.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/optimizing-table-schema.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/reordering-join-with-leading-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/index/inverted-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/dml-tuning-plan.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/dml-tuning-plan.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/optimizing-table-schema.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/reordering-join-with-leading-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/index/inverted-index.md
  versioned_docs/version-2.0/data-operate/delete/truncate-manual.md
  versioned_docs/version-2.0/install/cluster-deployment/k8s-deploy/install-env.md
  versioned_docs/version-2.1/data-operate/delete/truncate-manual.md
  versioned_docs/version-2.1/install/cluster-deployment/k8s-deploy/install-env.md
  versioned_docs/version-2.1/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
  versioned_docs/version-2.1/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  versioned_docs/version-2.1/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
  versioned_docs/version-2.1/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
  versioned_docs/version-2.1/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
  versioned_docs/version-3.0/data-operate/delete/truncate-manual.md
  versioned_docs/version-3.0/install/cluster-deployment/k8s-deploy/install-env.md
  versioned_docs/version-3.0/query-acceleration/tuning/tuning-plan/adjusting-join-shuffle.md
  versioned_docs/version-3.0/query-acceleration/tuning/tuning-plan/optimizing-table-index.md
  versioned_docs/version-3.0/query-acceleration/tuning/tuning-plan/solving-unevenly-data-distribution.md
  versioned_docs/version-3.0/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-async-mv.md
  versioned_docs/version-3.0/query-acceleration/tuning/tuning-plan/transparent-rewriting-with-sync-mv.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1247 [Fix] Update remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/tiered-storage/remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/tiered-storage/remote-storage.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/tiered-storage/remote-storage.md
Labels: version-2.1, version-2.0, version-3.0

#1269 Update install-env.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/install/cluster-deployment/k8s-deploy/install-env.md
Labels: approved, version-2.0, Reviewed

#1270 Update install-env.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/install/cluster-deployment/k8s-deploy/install-env.md
Labels: approved, version-2.1, Reviewed

#1320 [doc] add datalake tutorial of lakesoul
  common_docs_zh/gettingStarted/tutorials/building-lakehouse/doris-lakesoul.md
  gettingStarted/tutorials/building-lakehouse/doris-lakesoul.md
  static/images/lakehouse-architecture-for-doris-and-lakesoul.png
Labels: approved, version-dev, Reviewed, version-3.0

#1283 [doc](function) support table-function posexplode
  docs/sql-manual/sql-functions/table-functions/posexplode.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/table-functions/posexplode.md
  sidebars.json
Labels: version-dev, Reviewed

#1414 [blog] Update minimax blog and all release
  .github/PULL_REQUEST_TEMPLATE.md
  blog/ai-unicorn-minimax-from-loki-and-built-a-pb-scale-logging-system-with-doris.md
  common_docs_zh/releasenotes/all-release.md
  cspell.json
  releasenotes/all-release.md
  static/images/minimax-creator-of-talkie.jpeg
  static/images/minimax-migrated-from-loki-to-doris.png
Labels: Reviewed

#1306 [doc] add doc of `show backend config`
  docs/admin-manual/config/be-config.md
  docs/sql-manual/sql-statements/Database-Administration-Statements/SHOW-CONFIG.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/fe-config-template.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Database-Administration-Statements/SHOW-CONFIG.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/admin-manual/config/fe-config-template.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/config/fe-config-template.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/config/fe-config-template.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/config/fe-config-template.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/config/fe-config.md
  versioned_docs/version-3.0/admin-manual/config/be-config.md
Labels: approved, version-dev, Reviewed, version-3.0

#1323 [Enhancement] replace table options to keep original dropped table in recycle bin
  docs/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-REPLACE.md
Labels: version-dev, Reviewed

#1326 [web]Update the version selection on the upgrade page
  src/components/download-form/download-form-tools.tsx
  src/constant/download.data.ts
Labels: Reviewed

#1375 [Chinese] update join hint
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query-acceleration/tuning/join-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/join-optimization/join-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query-acceleration/tuning/join-hint.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query-acceleration/tuning/join-hint.md
Labels: Reviewed

#1413 update row storage docs
  docs/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/row-store.md
  versioned_docs/version-2.0/table-design/row-store.md
  versioned_docs/version-2.1/table-design/row-store.md
  versioned_docs/version-3.0/table-design/row-store.md
Labels: approved, Reviewed

#1410 [opt](show) update show collation sql reference manual
  docs/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Show-Statements/SHOW-COLLATION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Show-Statements/SHOW-COLLATION.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Show-Statements/SHOW-COLLATION.md
Labels: approved, Reviewed

#1207 [doc] add trim_in function docs
  docs/sql-manual/sql-functions/string-functions/ltrim_in.md
  docs/sql-manual/sql-functions/string-functions/rtrim_in.md
  docs/sql-manual/sql-functions/string-functions/trim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/ltrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/rtrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/trim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/string-functions/ltrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/string-functions/rtrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/string-functions/trim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/string-functions/ltrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/string-functions/rtrim_in.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/string-functions/trim_in.md
  sidebars.json
  versioned_docs/version-2.1/sql-manual/sql-functions/string-functions/ltrim_in.md
  versioned_docs/version-2.1/sql-manual/sql-functions/string-functions/rtrim_in.md
  versioned_docs/version-2.1/sql-manual/sql-functions/string-functions/trim_in.md
  versioned_docs/version-3.0/sql-manual/sql-functions/string-functions/ltrim_in.md
  versioned_docs/version-3.0/sql-manual/sql-functions/string-functions/rtrim_in.md
  versioned_docs/version-3.0/sql-manual/sql-functions/string-functions/trim_in.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: Need update version-2.1, Need update version-dev, Reviewed, Need update version-3.0
