Repository apache/doris-website, pull requests merged in 2024-08, with the labels that each got.

#930 [doc](ranger)add specific jar package directory
  docs/admin-manual/auth/ranger.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/auth/ranger.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/auth/ranger.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/auth/ranger.md
  versioned_docs/version-2.1/admin-manual/auth/ranger.md
  versioned_docs/version-3.0/admin-manual/auth/ranger.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#894 [doc](bi)delete a pic for powerbi
  docs/ecosystem/bi/powerbi.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/ecosystem/bi/powerbi.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/ecosystem/bi/powerbi.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/ecosystem/bi/powerbi.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/ecosystem/bi/powerbi.md
  versioned_docs/version-2.0/ecosystem/bi/powerbi.md
  versioned_docs/version-2.1/ecosystem/bi/powerbi.md
  versioned_docs/version-3.0/ecosystem/bi/powerbi.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#891 [doc]Flink connector document adds schema-change-mode parameter configuration
  docs/ecosystem/flink-doris-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/ecosystem/flink-doris-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/ecosystem/flink-doris-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/ecosystem/flink-doris-connector.md
  versioned_docs/version-2.1/ecosystem/flink-doris-connector.md
  versioned_docs/version-3.0/ecosystem/flink-doris-connector.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#890 [add]The kafka connector document adds enable.2pc, avro.topic2schema.…
  docs/ecosystem/doris-kafka-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/ecosystem/doris-kafka-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/ecosystem/doris-kafka-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/ecosystem/doris-kafka-connector.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/ecosystem/doris-kafka-connector.md
  versioned_docs/version-2.0/ecosystem/doris-kafka-connector.md
  versioned_docs/version-2.1/ecosystem/doris-kafka-connector.md
  versioned_docs/version-3.0/ecosystem/doris-kafka-connector.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#935 [doc](routine load) update routine load doc
  docs/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/routine-load-manual.md
  versioned_docs/version-2.0/data-operate/import/routine-load-manual.md
  versioned_docs/version-2.1/data-operate/import/routine-load-manual.md
  versioned_docs/version-3.0/data-operate/import/routine-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#868 [docs](ecosystem) update logstash and filebeat docs
  docs/ecosystem/beats.md
  docs/ecosystem/logstash.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/ecosystem/beats.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/ecosystem/logstash.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/ecosystem/beats.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/ecosystem/logstash.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/ecosystem/beats.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/ecosystem/logstash.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/ecosystem/beats.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/ecosystem/logstash.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/ecosystem/beats.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/ecosystem/logstash.md
  versioned_docs/version-1.2/ecosystem/beats.md
  versioned_docs/version-1.2/ecosystem/logstash.md
  versioned_docs/version-2.0/ecosystem/beats.md
  versioned_docs/version-2.0/ecosystem/logstash.md
  versioned_docs/version-2.1/ecosystem/beats.md
  versioned_docs/version-2.1/ecosystem/logstash.md
  versioned_docs/version-3.0/ecosystem/beats.md
  versioned_docs/version-3.0/ecosystem/logstash.md
Labels: version-2.1, version-dev, version-2.0, Dont merge, version-3.0

#901 [typo]Fix typo in arrow flight documentation
  i18n/zh-CN/docusaurus-plugin-content-docs/current/db-connect/arrow-flight-sql-connect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/db-connect/arrow-flight-sql-connect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/db-connect/arrow-flight-sql-connect.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#874 [doc](tiered) Add dynamic partition migration
  docs/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PROPERTY.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-DATABASE.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/table-design/data-partition.md
  docs/table-design/overview.md
  docs/table-design/tiered-storage/diff-disk-medium-migration.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PROPERTY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-DATABASE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-partition.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/tiered-storage/diff-disk-medium-migration.md
  sidebars.json
Labels: version-2.1, version-dev, version-2.0, Dont merge

#835 [doc] Refactor memory docs based on version 2.1
  community/developer-guide/debug-tool.md
  docs/admin-manual/memory-management/be-oom-analysis.md
  docs/admin-manual/memory-management/memory-analyze-manual.md
  docs/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  docs/admin-manual/memory-management/memory-management-feature.md
  docs/admin-manual/memory-management/memory-tracker.md
  i18n/zh-CN/docusaurus-plugin-content-docs-community/current/developer-guide/debug-tool.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/memory-management/be-oom-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/memory-management/memory-analyze-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/memory-management/memory-management-feature.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/memory-management/memory-tracker.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/memory-management/memory-tracker.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/memory-management/be-oom-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/memory-management/memory-analyze-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/memory-management/memory-management-feature.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/memory-management/memory-tracker.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/memory-management/be-oom-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/memory-management/memory-analyze-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/memory-management/memory-management-feature.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/memory-management/memory-tracker.md
  sidebars.json
  static/images/memory-allocator.png
  static/images/memory-gc.png
  static/images/memory-management-overview.png
  static/images/memory-tracker-implement.png
  versioned_docs/version-2.0/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  versioned_docs/version-2.0/admin-manual/memory-management/memory-tracker.md
  versioned_docs/version-2.1/admin-manual/memory-management/be-oom-analysis.md
  versioned_docs/version-2.1/admin-manual/memory-management/memory-analyze-manual.md
  versioned_docs/version-2.1/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  versioned_docs/version-2.1/admin-manual/memory-management/memory-management-feature.md
  versioned_docs/version-2.1/admin-manual/memory-management/memory-tracker.md
  versioned_docs/version-3.0/admin-manual/memory-management/be-oom-analysis.md
  versioned_docs/version-3.0/admin-manual/memory-management/memory-analyze-manual.md
  versioned_docs/version-3.0/admin-manual/memory-management/memory-limit-exceeded-analysis.md
  versioned_docs/version-3.0/admin-manual/memory-management/memory-management-feature.md
  versioned_docs/version-3.0/admin-manual/memory-management/memory-tracker.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev

#904 [docs](function) support split_by_regexp function
  docs/sql-manual/sql-functions/string-functions/split-by-regexp.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/split-by-regexp.md
  sidebars.json
Labels: Dont merge

#1067 [blog](update) Update MiniMax blog
  blog/ai-unicorn-minimax-from-loki-and-built-a-pb-scale-logging-system-with-doris.md
  blog/apache-doris-vs-rockset.md
  blog/auto-partition-in-apache-doris.md
  blog/migrate-lakehouse-from-bigquery-to-doris.md
  blog/release-note-3.0.1.md
  common_docs_zh/gettingStarted/demo-block/latest.tsx
  gettingStarted/demo-block/latest.tsx
  src/components/recent-blogs/recent-blogs.data.ts
  src/constant/newsletter.data.ts
  static/images/apache-doris-based-logging-system.png
  static/images/minimax-migrated-from-loki-to-doris.png
  static/images/the-old-grafana-Loki-based-logging-system.png
  static/images/why-Apache-Doris.png
Labels: Reviewed
