Repository apache/doris-website, pull requests merged in 2024-07, with the labels that each got.

#828 Add some group commit docs
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: approved, Reviewed

#826 Add enable_mow_light_delete property
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: version-2.1, version-dev

#825 [tvf] fix default column separator issue
  docs/sql-manual/sql-functions/table-functions/hdfs.md
  docs/sql-manual/sql-functions/table-functions/s3.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/table-functions/hdfs.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/table-functions/s3.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/table-functions/hdfs.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/table-functions/s3.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/table-functions/hdfs.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/table-functions/s3.md
  versioned_docs/version-2.0/sql-manual/sql-functions/table-functions/hdfs.md
  versioned_docs/version-2.0/sql-manual/sql-functions/table-functions/s3.md
  versioned_docs/version-2.1/sql-manual/sql-functions/table-functions/hdfs.md
  versioned_docs/version-2.1/sql-manual/sql-functions/table-functions/s3.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#842 [blog](pics) Update 2.0.12 banner
  static/images/2.0.12.jpg
Labels: Reviewed

#846 [doc] Fix accuracy issues for Log Storage and Analysis docs
  docs/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/practical-guide/log-storage-analysis.md
  versioned_docs/version-2.0/practical-guide/log-storage-analysis.md
  versioned_docs/version-2.1/practical-guide/log-storage-analysis.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#841 [doc](data-type) fix decimal type storeage(bytes)
  docs/table-design/data-type.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-type.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/data-type.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/data-type.md
  versioned_docs/version-2.0/table-design/data-type.md
  versioned_docs/version-2.1/table-design/data-type.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#837 [doc](udf) fix some unreached link and remove remote-udf
  docs/query/udf/java-user-defined-function.md
  docs/query/udf/remote-user-defined-function.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/udf/java-user-defined-function.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/udf/remote-user-defined-function.md
  sidebars.json
Labels: version-2.1, version-dev, Reviewed

#840 [doc](function) add some doc for function ipv4-to-ipv6/cut-ipv6
  docs/sql-manual/sql-functions/ip-functions/cut-ipv6.md
  docs/sql-manual/sql-functions/ip-functions/ipv4-to-ipv6.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/ip-functions/cut-ipv6.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/ip-functions/ipv4-to-ipv6.md
  sidebars.json
Labels: version-2.1, version-dev

#822 [doc][arrow-flight-sql-connect]Update and Correct Arrow Flight SQL Documentation
  blog/arrow-flight-sql-in-apache-doris-for-10x-faster-data-transfer.md
  docs/db-connect/arrow-flight-sql-connect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/db-connect/arrow-flight-sql-connect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/db-connect/arrow-flight-sql-connect.md
  versioned_docs/version-2.1/db-connect/arrow-flight-sql-connect.md
Labels: version-2.1, version-dev, Reviewed

#824 [doc] Update date-partition EN doc in 2.1 & dev version
  docs/table-design/data-partition.md
  versioned_docs/version-2.1/table-design/data-partition.md
Labels: version-2.1, version-dev, Reviewed

#850 [doc] Bitmap type can be used in Duplicate tables
  docs/table-design/data-type.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/data-type.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/data-type.md
  versioned_docs/version-2.1/table-design/data-type.md
Labels: version-2.1, version-dev, Reviewed

#853 [Fix](example) Fix example which cannot run in INSERT-OVERWRITE
  docs/sql-manual/sql-statements/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Manipulation-Statements/Manipulation/INSERT-OVERWRITE.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#847 [doc] Fixed an incorrect example
  docs/lakehouse/datalake-analytics/hive.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-analytics/hive.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/lakehouse/datalake/hive.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/datalake-analytics/hive.md
  versioned_docs/version-2.0/lakehouse/datalake/hive.md
  versioned_docs/version-2.1/lakehouse/datalake-analytics/hive.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#845 [doc] fix mysql ssl pack server-key common
  docs/admin-manual/auth/certificate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/auth/certificate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/admin-manual/certificate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/privilege-ldap/certificate.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/auth/certificate.md
  versioned_docs/version-1.2/admin-manual/certificate.md
  versioned_docs/version-2.0/admin-manual/privilege-ldap/certificate.md
  versioned_docs/version-2.1/admin-manual/auth/certificate.md
Labels: version-2.1, version-dev, version-2.0, Reviewed

#861 [doc](doc) Update doc for compute-storage decoupled mode
  docs/compute-storage-decoupled/before-deployment.md
  docs/compute-storage-decoupled/compilation-and-deployment.md
  docs/compute-storage-decoupled/creating-cluster.md
  docs/compute-storage-decoupled/meta-service-api.md
  docs/install/cluster-deployment/doris-on-aws.md
  docs/install/cluster-deployment/standard-deployment.md
  docs/install/source-install/compilation-arm.md
  docs/install/source-install/compilation-mac.md
  docs/install/source-install/compilation-win.md
  docs/install/source-install/compilation-with-docker.md
  docs/install/source-install/compilation-with-ldb-toolchain.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/before-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/compilation-and-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/creating-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/meta-service-api.md
  static/images/compute-storage-decoupled-zh.png
  static/images/compute-storage-decoupled.png
Labels: version-dev, Reviewed

#817 [docs](trash) update trash default expire time
  docs/admin-manual/config/be-config.md
  docs/admin-manual/data-admin/delete-recover.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/delete-recover.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/data-admin/delete-recover.md
  versioned_docs/version-2.1/admin-manual/config/be-config.md
  versioned_docs/version-2.1/admin-manual/data-admin/delete-recover.md
Labels: version-2.1, version-dev, Reviewed

#848 [doc] update runtime-filter.md
  docs/query/join-optimization/runtime-filter.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/join-optimization/runtime-filter.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/join-optimization/runtime-filter.md
  versioned_docs/version-2.1/query/join-optimization/runtime-filter.md
Labels: version-2.1, version-dev

#875 [doc](doc) Fix dead links in compute-storage decoupled
  docs/install/cluster-deployment/standard-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/cluster-deployment/standard-deployment.md
Labels: version-dev, Reviewed

#870 [doc](mtmv)show create materialized view
  docs/sql-manual/sql-statements/Show-Statements/SHOW-CREATE-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Show-Statements/SHOW-CREATE-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Show-Statements/SHOW-CREATE-ASYNC-MATERIALIZED-VIEW.md
  sidebars.json
  versioned_docs/version-2.1/sql-manual/sql-statements/Show-Statements/SHOW-CREATE-ASYNC-MATERIALIZED-VIEW.md
  versioned_sidebars/version-2.1-sidebars.json
Labels: version-2.1, version-dev, Reviewed

#876 [doc](mtmv) Add some feature docs for 2.1.5 and master
  docs/query/view-materialized-view/query-async-materialized-view.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/view-materialized-view/query-async-materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/view-materialized-view/query-async-materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-ASYNC-MATERIALIZED-VIEW.md
  versioned_docs/version-2.1/query/view-materialized-view/query-async-materialized-view.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-ASYNC-MATERIALIZED-VIEW.md
Labels: version-2.1, version-dev, Reviewed

#872 [doc](mtmv)replace mtmv
  docs/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-ASYNC-MATERIALIZED-VIEW.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-ASYNC-MATERIALIZED-VIEW.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-ASYNC-MATERIALIZED-VIEW.md
Labels: version-2.1, version-dev, Reviewed

#880 修复title
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/releasenotes/release-2.0.13.md
Labels: Reviewed

#878 remove broker from backup
  docs/admin-manual/data-admin/backup.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/backup.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/repairing-data.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/data-admin/backup.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/data-admin/backup.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
  versioned_docs/version-2.0/admin-manual/data-admin/backup.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
  versioned_docs/version-2.1/admin-manual/data-admin/backup.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/BACKUP.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/DROP-REPOSITORY.md
Labels: version-2.1, version-dev, version-2.0, Dont merge

#906 adjust table design dir to match create table
  docs/table-design/overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/overview.md
  sidebars.json
Labels: Dont merge

#908 [docs](3.0) Update typo and sidebar of 3.0 version docs
  blog/migrate-lakehouse-from-bigquery-to-doris.md
  docs/data-operate/export/export-overview.md
  docs/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/export/export-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/export/export-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/practical-guide/log-storage-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/export/export-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/practical-guide/log-storage-analysis.md
  versioned_docs/version-2.0/practical-guide/log-storage-analysis.md
  versioned_docs/version-2.1/data-operate/export/export-overview.md
  versioned_docs/version-2.1/practical-guide/log-storage-analysis.md
  versioned_docs/version-3.0/data-operate/export/export-overview.md
  versioned_docs/version-3.0/practical-guide/log-storage-analysis.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#912 [download](2.1.5) Update 2.1.5 release and download link
  blog/release-note-2.1.5.md
  docs/releasenotes/release-2.1.5.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/releasenotes/release-2.1.5.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/releasenotes/release-2.1.5.md
  sidebars.json
  src/components/recent-blogs/recent-blogs.data.ts
  src/constant/download.data.ts
  src/constant/newsletter.data.ts
  src/pages/download/index.tsx
  static/images/2.1.5.jpg
  versioned_docs/version-2.1/releasenotes/release-2.1.5.md
  versioned_sidebars/version-2.1-sidebars.json
Labels: Reviewed

#905 [trino-connector] add BigQuery Catalog and DeltaLake Catalog docs
  docs/lakehouse/datalake-analytics/bigquery.md
  docs/lakehouse/datalake-analytics/deltalake.md
  docs/lakehouse/datalake-analytics/kudu.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-analytics/bigquery.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-analytics/deltalake.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-analytics/kudu.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/datalake-analytics/bigquery.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/datalake-analytics/deltalake.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/datalake-analytics/kudu.md
  sidebars.json
  versioned_docs/version-3.0/lakehouse/datalake-analytics/bigquery.md
  versioned_docs/version-3.0/lakehouse/datalake-analytics/deltalake.md
  versioned_docs/version-3.0/lakehouse/datalake-analytics/kudu.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, version-3.0

#921 [doc](cloud) add parameters in `CREATE STORAGE VAULT`
  docs/compute-storage-decoupled/creating-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/creating-cluster.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/compute-storage-decoupled/creating-cluster.md
  versioned_docs/version-3.0/compute-storage-decoupled/creating-cluster.md
Labels: version-3.0

#928 (improvement)(jdbc catalog) add some jdbc catalog faq
  docs/lakehouse/database/jdbc.md
  docs/lakehouse/database/mysql.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/database/jdbc.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/database/mysql.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/lakehouse/database/jdbc.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/lakehouse/database/mysql.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/database/jdbc.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/database/mysql.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/database/jdbc.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/database/mysql.md
  versioned_docs/version-2.0/lakehouse/database/jdbc.md
  versioned_docs/version-2.0/lakehouse/database/mysql.md
  versioned_docs/version-2.1/lakehouse/database/jdbc.md
  versioned_docs/version-2.1/lakehouse/database/mysql.md
  versioned_docs/version-3.0/lakehouse/database/jdbc.md
  versioned_docs/version-3.0/lakehouse/database/mysql.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#895 remove delete_if_exists options in create repository stmt
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
Labels: version-2.1, version-dev, Reviewed, version-3.0
