Repository apache/doris-website, pull requests merged in 2024-09, with the labels that each got.

#513 [doc](fix) update materialized view docs
  docs/query/view-materialized-view/materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/view-materialized-view/materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/query-acceleration/materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/view-materialized-view/materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/view-materialized-view/materialized-view.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/view-materialized-view/materialized-view.md
  versioned_docs/version-1.2/query-acceleration/materialized-view.md
  versioned_docs/version-2.0/query/view-materialized-view/materialized-view.md
  versioned_docs/version-2.1/query/view-materialized-view/materialized-view.md
  versioned_docs/version-3.0/query/view-materialized-view/materialized-view.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1053 [doc](function) add some value notice in percentile_approx_weighted function
  docs/sql-manual/sql-functions/aggregate-functions/percentile_approx_weighted.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/percentile_approx_weighted.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/aggregate-functions/percentile-approx-weighted.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/percentile-approx-weighted.md
  versioned_docs/version-2.1/sql-manual/sql-functions/aggregate-functions/percentile-approx-weighted.md
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/percentile-approx-weighted.md
  versioned_sidebars/version-2.1-sidebars.json
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1050 [flinkconnector] update flink connector version
  common_docs_zh/ecosystem/flink-doris-connector.md
  ecosystem/flink-doris-connector.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1048 [ci] add move/delete caused deadlink check to Build Check(Required)
  .github/workflows/build-check.yml
  check_move.py
Labels: Reviewed

#1046 [add]node script for merge markdown
  scripts/merge_md.js
  scripts/test_error.sh
Labels: Reviewed

#1033 add documents for topn query opt
  docs/query/topn-query.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/topn-query.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/topn-query.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/topn-query.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/topn-query.md
  sidebars.json
  versioned_docs/version-2.0/query/topn-query.md
  versioned_docs/version-2.1/query/topn-query.md
  versioned_docs/version-3.0/query/topn-query.md
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1032 add docs for row store
  docs/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/row-store.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/row-store.md
  sidebars.json
  versioned_docs/version-2.0/table-design/row-store.md
  versioned_docs/version-2.1/table-design/row-store.md
  versioned_docs/version-3.0/table-design/row-store.md
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#856 fix lakehouse-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/lakehouse-overview.md
Labels: bug, Dont merge

#833 [doc]fix version 2.1.0 has invalid internal hyperlinks on the CREATE-TABLE page
  docs/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: bug, version-2.1, version-dev, version-2.0, version-3.0

#1011 Update lakehouse-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/lakehouse-overview.md
Labels: bug, version-2.1, version-dev, version-2.0, version-3.0

#995 [docs](update) Fix deadlink and update metadata recovery warning
  docs/admin-manual/maint-monitor/metadata-operation.md
  docs/data-operate/import/import-way/broker-load-manual.md
  docs/data-operate/import/import-way/group-commit-manual.md
  docs/data-operate/import/import-way/insert-into-manual.md
  docs/data-operate/import/import-way/mysql-load-manual.md
  docs/data-operate/import/import-way/routine-load-manual.md
  docs/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/maint-monitor/metadata-operation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/broker-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/group-commit-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/insert-into-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/mysql-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/routine-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/maint-monitor/metadata-operation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/maint-monitor/metadata-operation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/maint-monitor/metadata-operation.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.0/admin-manual/maint-monitor/metadata-operation.md
  versioned_docs/version-2.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.1/admin-manual/maint-monitor/metadata-operation.md
  versioned_docs/version-2.1/data-operate/import/stream-load-manual.md
  versioned_docs/version-3.0/admin-manual/maint-monitor/metadata-operation.md
  versioned_docs/version-3.0/data-operate/import/stream-load-manual.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1049 [doc] cumu compaction threads had changed
  docs/admin-manual/compaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/compaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/compaction.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/compaction.md
  versioned_docs/version-2.1/admin-manual/compaction.md
  versioned_docs/version-3.0/admin-manual/compaction.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1013 [docs](sql-manual) Fix typo of ALTER SYSTEM DROP FOLLOWER from user feedbacks
  docs/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-reference/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  versioned_docs/version-1.2/sql-manual/sql-reference/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Cluster-Management-Statements/ALTER-SYSTEM-DROP-FOLLOWER.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1007 [docs](tutorials) Fix deadlink of tutorials
  common_docs_zh/gettingStarted/tutorials/building-lakehouse/doris-hudi.md
  common_docs_zh/gettingStarted/tutorials/building-lakehouse/doris-iceberg.md
  common_docs_zh/gettingStarted/tutorials/building-lakehouse/doris-paimon.md
  common_docs_zh/gettingStarted/tutorials/log-storage-analysis.md
  gettingStarted/tutorials/building-lakehouse/doris-hudi.md
  gettingStarted/tutorials/building-lakehouse/doris-iceberg.md
  gettingStarted/tutorials/building-lakehouse/doris-paimon.md
  gettingStarted/tutorials/log-storage-analysis.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#888 [doc][stream-load-manual] Add usage details for importing JSON files to the stream-load-manual documentation
  docs/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.0/data-operate/import/stream-load-manual.md
  versioned_docs/version-2.1/data-operate/import/stream-load-manual.md
  versioned_docs/version-3.0/data-operate/import/stream-load-manual.md
Labels: bug, version-2.1, version-dev, version-2.0, version-3.0

#1001 [doc]remove som be.conf
  docs/admin-manual/config/be-config.md
  docs/query/query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/query-variables/variables.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/query-variables/variables.md
  versioned_docs/version-3.0/admin-manual/config/be-config.md
  versioned_docs/version-3.0/query/query-variables/variables.md
Labels: version-dev, Reviewed, version-3.0

#1014 [docs](function) support aggregrate function regr_sxx regr_sxy regr_syy
  docs/sql-manual/sql-functions/aggregate-functions/regr_sxx.md
  docs/sql-manual/sql-functions/aggregate-functions/regr_sxy.md
  docs/sql-manual/sql-functions/aggregate-functions/regr_syy.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/regr_sxx.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/regr_sxy.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/regr_syy.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_sxx.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_sxy.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_syy.md
  sidebars.json
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_sxx.md
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_sxy.md
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/regr_syy.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#1006 [Feature](function) Support function assert_true
  docs/sql-manual/sql-functions/conditional-functions/assert-true.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/conditional-functions/assert-true.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/conditional-functions/assert-true.md
  sidebars.json
  versioned_docs/version-3.0/sql-manual/sql-functions/conditional-functions/assert-true.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#1077 [doc](alter) alter to add partitions in batches
  docs/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1078 [Enhancement](function) add more explaination for function percentile
  docs/sql-manual/sql-functions/aggregate-functions/percentile.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/percentile.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/aggregate-functions/percentile.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/aggregate-functions/percentile.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/aggregate-functions/percentile.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/percentile.md
  versioned_docs/version-1.2/sql-manual/sql-functions/aggregate-functions/percentile.md
  versioned_docs/version-2.0/sql-manual/sql-functions/aggregate-functions/percentile.md
  versioned_docs/version-2.1/sql-manual/sql-functions/aggregate-functions/percentile.md
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/percentile.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1087 [fix](cte) doris do not support recursive CTE, remove it in docs
  docs/query/query-data/cte.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/query-data/cte.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/query-data/cte.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/query-data/cte.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/query-data/cte.md
  versioned_docs/version-2.0/query/query-data/cte.md
  versioned_docs/version-2.1/query/query-data/cte.md
  versioned_docs/version-3.0/query/query-data/cte.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1056 Add config max_backup_tablets_per_job
  docs/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/config/fe-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/config/fe-config.md
  versioned_docs/version-2.0/admin-manual/config/fe-config.md
  versioned_docs/version-2.1/admin-manual/config/fe-config.md
  versioned_docs/version-3.0/admin-manual/config/fe-config.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1076 add warning for agg_state
  docs/sql-manual/sql-data-types/aggregate/AGG_STATE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  versioned_docs/version-2.0/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  versioned_docs/version-2.1/sql-manual/sql-data-types/aggregate/AGG-STATE.md
  versioned_docs/version-3.0/sql-manual/sql-data-types/aggregate/AGG-STATE.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1065 [Doc] Fix `apache-doris/fe/conf/fe.conf` path error in QuickStart page
  common_docs_zh/gettingStarted/quick-start.md
  gettingStarted/quick-start.md
  src/theme/DocItem/Layout/pathTransfer.ts
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1081 [doc](update) asin/acos/sqrt related
  docs/sql-manual/sql-functions/numeric-functions/acos.md
  docs/sql-manual/sql-functions/numeric-functions/sqrt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/numeric-functions/sqrt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/math-functions/sqrt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/numeric-functions/sqrt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/numeric-functions/acos.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/numeric-functions/asin.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/numeric-functions/sqrt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/numeric-functions/acos.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/numeric-functions/asin.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/numeric-functions/sqrt.md
  versioned_docs/version-1.2/sql-manual/sql-functions/math-functions/sqrt.md
  versioned_docs/version-2.0/sql-manual/sql-functions/numeric-functions/sqrt.md
  versioned_docs/version-2.1/sql-manual/sql-functions/numeric-functions/acos.md
  versioned_docs/version-2.1/sql-manual/sql-functions/numeric-functions/asin.md
  versioned_docs/version-2.1/sql-manual/sql-functions/numeric-functions/sqrt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/numeric-functions/acos.md
  versioned_docs/version-3.0/sql-manual/sql-functions/numeric-functions/asin.md
  versioned_docs/version-3.0/sql-manual/sql-functions/numeric-functions/sqrt.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1091 [docs](version/issue) Fix docs default version and issues
  common_docs_zh/gettingStarted/demo-block/latest.tsx
  common_docs_zh/gettingStarted/what-is-apache-doris.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  docusaurus.config.js
  gettingStarted/demo-block/latest.tsx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/lakehouse-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/lakehouse/lakehouse-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-POLICY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/best-practice.md
  versioned_docs/version-1.2/sql-manual/sql-reference/Data-Definition-Statements/Drop/DROP-POLICY.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Drop/DROP-POLICY.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-POLICY.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-POLICY.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Drop/DROP-TABLE.md
  versions.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1089 Fix typos in documents metacache.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/metacache.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/metacache.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/metacache.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1098 [Enhancement](function) Add more explaination for crypto functions
  docs/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  docs/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  docs/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  docs/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  versioned_docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  versioned_docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  versioned_docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  versioned_docs/version-1.2/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  versioned_docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  versioned_docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  versioned_docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  versioned_docs/version-2.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  versioned_docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  versioned_docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  versioned_docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  versioned_docs/version-2.1/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/aes-decrypt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/aes-encrypt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-decrypt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/encrypt-digest-functions/sm4-encrypt.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1073 [cloud] Simplify meta-service deployment by integrating recycler
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/before-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/compilation-and-deployment.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/compute-storage-decoupled/creating-cluster.md
Labels: bug, version-dev, version-3.0

#1101 fix: fix docs sidebar version error
  src/theme/DocSidebar/Desktop/Content/index.js
Labels: Reviewed

#1093 [doc](config) remove some unused config desc in BE
  docs/admin-manual/config/be-config.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/config/be-config.md
Labels: version-dev, Reviewed

#1106 [blog] Update TikTok Blog
  blog/ai-unicorn-minimax-from-loki-and-built-a-pb-scale-logging-system-with-doris.md
  blog/auto-partition-in-apache-doris.md
  blog/real-time-data-warehouse-in-TikTok-based-on-doris.md
  src/constant/newsletter.data.ts
  static/images/OLAP-engine.PNG
  static/images/real-time-data-warehouse-in-TikTok-2.PNG
  static/images/real-time-data-warehouse-in-TikTok.PNG
  static/images/real-time-data-warehouse-in-tiktok-based-on-apache-doris.png
  static/images/real-time-ranking-board.png
Labels: Reviewed

#1110 modify github events sample download link, and add some FQA
  blog/variant-in-apache-doris-2.1.md
  docs/sql-manual/sql-data-types/semi-structured/VARIANT.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-data-types/semi-structured/VARIANT.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-data-types/semi-structured/VARIANT.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-data-types/semi-structured/VARIANT.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-data-types/semi-structured/VARIANT.md
  versioned_docs/version-2.0/sql-manual/sql-data-types/semi-structured/VARIANT.md
  versioned_docs/version-2.1/sql-manual/sql-data-types/semi-structured/VARIANT.md
  versioned_docs/version-3.0/sql-manual/sql-data-types/semi-structured/VARIANT.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1138 Refactor pipeline document
  docs/query/pipeline/pipeline-execution-engine.md
  docs/query/pipeline/pipeline-x-execution-engine.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/pipeline/pipeline-execution-engine.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/pipeline/pipeline-x-execution-engine.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/pipeline/pipeline-execution-engine.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/pipeline/pipeline-x-execution-engine.md
  sidebars.json
  versioned_docs/version-3.0/query/pipeline/pipeline-execution-engine.md
  versioned_docs/version-3.0/query/pipeline/pipeline-x-execution-engine.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#926 [fix](arm) Revert arm doc changes
  i18n/zh-CN/docusaurus-plugin-content-docs/current/install/source-install/compilation-arm.md
Labels: Dont merge

#956 [doc](bi)faq for bi
  common_docs_zh/faq/bi-faq.md
  faq/bi-faq.md
  sidebars.json
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1099 (doc)fix upgrade.md
  docs/admin-manual/cluster-management/upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/cluster-management/upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/cluster-management/upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/cluster-management/upgrade.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/cluster-management/upgrade.md
  versioned_docs/version-2.0/admin-manual/cluster-management/upgrade.md
  versioned_docs/version-2.1/admin-manual/cluster-management/upgrade.md
  versioned_docs/version-3.0/admin-manual/cluster-management/upgrade.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1121 [ecosystem]doris-kafka-connector adds poll data timeout processing method
  common_docs_zh/ecosystem/doris-kafka-connector.md
  ecosystem/doris-kafka-connector.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1151 [doc](udtf) remove some doc about udtf in branch2.0/2.1
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/udf/java-user-defined-function.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/udf/java-user-defined-function.md
  versioned_docs/version-2.0/query/udf/java-user-defined-function.md
  versioned_docs/version-2.1/query/udf/java-user-defined-function.md
Labels: version-2.1, version-2.0, Reviewed

#1150 [doc](connecotr)update connector link
  common_docs_zh/ecosystem/flink-doris-connector.md
  ecosystem/flink-doris-connector.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1149 [docs](ccr) Update Parameter details in ccr docs and fix blog typo and deadlink
  blog/real-time-data-warehouse-in-TikTok-based-on-doris.md
  blog/release-flink-doris-connector-24.0.0.md
  blog/release-note-2.1.5.md
  blog/release-note-2.1.6.md
  common_docs_zh/gettingStarted/demo-block/latest.tsx
  common_docs_zh/gettingStarted/demo-block/page-hero-1.tsx
  common_docs_zh/gettingStarted/demo-block/page-hero.tsx
  common_docs_zh/releasenotes/all-release.md
  docs/admin-manual/data-admin/ccr.md
  gettingStarted/demo-block/page-hero-1.tsx
  gettingStarted/demo-block/page-hero.tsx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/admin-manual/data-admin/ccr.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/admin-manual/data-admin/ccr.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/admin-manual/data-admin/ccr.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/admin-manual/data-admin/ccr.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/external-statistics.md
  releasenotes/all-release.md
  sidebars.json
  src/constant/newsletter.data.ts
  static/images/release-flink-doris-connector-24.0.jpg
  versioned_docs/version-2.0/admin-manual/data-admin/ccr.md
  versioned_docs/version-2.1/admin-manual/data-admin/ccr.md
  versioned_docs/version-3.0/admin-manual/data-admin/ccr.md
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1142 add new smartbi doc
  common_docs_zh/ecosystem/bi/smartbi.md
  ecosystem/bi/smartbi.md
  sidebars.json
  static/images/bi-smartbi-en-1.png
  static/images/bi-smartbi-en-2.png
  static/images/bi-smartbi-en-3.png
  static/images/bi-smartbi-en-4.png
  static/images/bi-smartbi-en-5.png
  versioned_sidebars/version-1.2-sidebars.json
  versioned_sidebars/version-2.0-sidebars.json
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1131 Update release-2.1.0.md Fix typo
  common_docs_zh/releasenotes/v2.1/release-2.1.0.md
Labels: Reviewed

#1094 [doc](agg-func) add linear_histogram dev doc
  docs/sql-manual/sql-functions/aggregate-functions/linear-histogram.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/linear-histogram.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/linear-histogram.md
  sidebars.json
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/linear-histogram.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#1153 [docs](link) Fix link of compilation on windows
  docs/install/source-install/compilation-win.md
  releasenotes/all-release.md
  versioned_docs/version-2.0/install/source-install/compilation-win.md
  versioned_docs/version-2.1/install/source-install/compilation-win.md
  versioned_docs/version-3.0/install/source-install/compilation-win.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1127 Docs for skew and kurt
  docs/sql-manual/sql-functions/aggregate-functions/kurt.md
  docs/sql-manual/sql-functions/aggregate-functions/skew.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/kurt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/aggregate-functions/skew.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/kurt.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/aggregate-functions/skew.md
  sidebars.json
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/kurt.md
  versioned_docs/version-3.0/sql-manual/sql-functions/aggregate-functions/skew.md
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-dev, Reviewed, version-3.0

#1147 fix query analysis file link error
  docs/query/query-analysis/import-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/query/query-analysis/import-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/query/query-analysis/import-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/query/query-analysis/import-analysis.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/query/query-analysis/import-analysis.md
  versioned_docs/version-2.0/query/query-analysis/import-analysis.md
  versioned_docs/version-2.1/query/query-analysis/import-analysis.md
  versioned_docs/version-3.0/query/query-analysis/import-analysis.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1152 Update external-statistics.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/lakehouse/external-statistics.md
Labels: version-2.0, Reviewed

#1156 [docs](table-design) Delete incorrect description of best practices
  docs/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/best-practice.md
  versioned_docs/version-2.0/table-design/best-practice.md
  versioned_docs/version-2.1/table-design/best-practice.md
  versioned_docs/version-3.0/table-design/best-practice.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1146 fix: fix the 3.0/2.1 version docs edit this page link error
  src/constant/download.data.ts
  src/theme/DocItem/Layout/pathTransfer.ts
  src/theme/DocSidebar/Desktop/Content/index.js
Labels: version-2.1, Reviewed, version-3.0

#899 [doc] support ngram_search function
  docs/sql-manual/sql-functions/string-functions/ngram-search.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-functions/string-functions/ngram-search.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-functions/string-functions/ngram-search.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-functions/string-functions/ngram-search.md
  sidebars.json
  versioned_docs/version-2.1/sql-manual/sql-functions/string-functions/ngram-search.md
  versioned_docs/version-3.0/sql-manual/sql-functions/string-functions/ngram-search.md
  versioned_sidebars/version-2.1-sidebars.json
  versioned_sidebars/version-3.0-sidebars.json
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1145 Fix typo
  common_docs_zh/gettingStarted/tutorials/log-storage-analysis.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1144 Updated the instructions for using sql-converter
  docs/lakehouse/sql-dialect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/sql-dialect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/sql-dialect.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/sql-dialect.md
  versioned_docs/version-2.1/lakehouse/sql-dialect.md
  versioned_docs/version-3.0/lakehouse/sql-dialect.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1166 fix some mispelling
  common_docs_zh/gettingStarted/tutorials/building-lakehouse/doris-hudi.md
  docs/lakehouse/datalake-building/hive-build.md
  gettingStarted/tutorials/building-lakehouse/doris-hudi.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/lakehouse/datalake-building/hive-build.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/lakehouse/datalake-building/hive-build.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/lakehouse/datalake-building/hive-build.md
  versioned_docs/version-2.1/lakehouse/datalake-building/hive-build.md
  versioned_docs/version-3.0/lakehouse/datalake-building/hive-build.md
Labels: version-2.1, version-dev, Reviewed, version-3.0

#1165 [fix](issue) Fix typo and error for issue
  community/design/metadata-design.md
  docs/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs-community/current/design/metadata-design.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/data-operate/import/migrate-data-from-other-olap.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/sql-manual/sql-statements/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-1.2/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/migrate-data-from-other-olap.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/data-operate/import/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.0/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/data-operate/import/migrate-data-from-other-olap.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/sql-manual/sql-statements/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-2.1/table-design/best-practice.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/import-way/stream-load-manual.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/data-operate/import/migrate-data-from-other-olap.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/sql-manual/sql-statements/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  i18n/zh-CN/docusaurus-plugin-content-docs/version-3.0/table-design/best-practice.md
  versioned_docs/version-1.2/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.0/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-2.1/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
  versioned_docs/version-3.0/sql-manual/sql-statements/Data-Definition-Statements/Backup-and-Restore/CREATE-REPOSITORY.md
Labels: version-2.1, version-dev, version-2.0, Reviewed, version-3.0

#1160 fix: disable pdf download on locale en
  src/theme/DocSidebar/Desktop/Content/index.js
Labels: Reviewed
